Projeto 1

Este documento pretende respoder a seguinte pergunta:
A emissão de co2 por pessoa e a energia hidraulica produzida se relacionam com i IDH?

In [117]:
import pandas as pd

idh = pd.read_excel('hdi_human_development_index.xlsx')
hydro = pd.read_excel('hydro_power_generation_per_person.xlsx')
cover = pd.read_excel('forest_coverage_percent.xlsx')

In [118]:
cover_2010 = cover.loc[:, ["Países", 2010]]
cover_idx = cover_2010.set_index("Países")
cover_idx.head(3)

              2010
Países
Afghanistan   2.07
Albania      28.30
Algeria       0.81

In [119]:
hydro_2010 = hydro.loc[:, ["Países", 2010]]
hydro_idx = hydro_2010.set_index("Países")
hydro_idx.head(3)

            2010
Países
Albania  0.20300
Algeria  0.00042
Angola   0.01590

In [120]:
idh_2010 = idh.loc[:, ["Países", 2010]]
idh_idx = idh_2010.set_index("Países")
idh_idx.head(3)

              2010
Países
Afghanistan  0.454
Albania      0.738
Algeria      0.724

In [121]:
df = idh_idx.join(hydro_idx, how='inner', lsuffix=' IDH', rsuffix=' Produção de energia hidrelétrica')
df.head(7)

           2010 IDH  2010 Produção de energia hidrelétrica
Países
Albania       0.738                                0.20300
Algeria       0.724                                0.00042
Angola        0.495                                0.01590
Argentina     0.816                                0.07150
Armenia       0.729                                0.07110
Australia     0.927                                0.04810
Austria       0.880                                0.39300

data = df.join(cover_idx, how="inner") 
data.head(7)

In [123]:
df['porcentagem de area florestada'] = cover_idx[2010]
df.head(7)

,2010 IDH,2010 Produção de energia hidrelétrica,porcenta,porcentagem de area florestada
Países,,,,
Albania,0.738,0.20300,28.30,28.30
Algeria,0.724,0.00042,0.81,0.81
Angola,0.495,0.01590,46.90,46.90
Argentina,0.816,0.07150,10.40,10.40
Armenia,0.729,0.07110,11.60,11.60
Australia,0.927,0.04810,16.00,16.00
Austria,0.880,0.39300,46.80,46.80